<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Queryhub</title>
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
</head>

<body>
  <div class="d-flex flex-column flex-md-row align-items-center p-22 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <nav class="navbar navbar-expand-md navbar fixed-top">
      <h5 class="my-0 mr-md-auto font-weight-normal">Queryhub</h5>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto ml-4">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Discover</a>
          </li>
        </ul>
        <form class="form-inline col-7 mt-2 mt-md-0">
          <input class="form-control mr-sm-2 col-lg-5" type="text" placeholder="Search" aria-label="Search">
          
        </form>
      </div>
      <a class="btn btn-outline-primary" href="#">
        <img src="/images/GitHub-Mark-32px.png" alt="GitHub Octocat"> Sign in with GitHub
      </a>
    </nav>
  </div>

  <div class="container">
    <main role="main">
      <div class="col-lg-6">
        <%= render @view_module, @view_template, assigns %>

          <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
              <!--
            <div class="col-12 col-md">
              <img class="mb-2" src="" alt="Queryhub logo" width="24" height="24">
            </div>
            -->
              <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                  <li>
                    <a class="text-muted" href="#">Discover Queries and Packs</a>
                  </li>
                  <li>
                    <a class="text-muted" href="#">My Profile</a>
                  </li>
                </ul>
              </div>
              <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                  <ul>
                    <li>
                      <a href="https://osquery.io">osquery</a>
                    </li>
                    <li>
                      <a href="https://github.com/kolide/queryhub">Source</a>
                    </li>
                    <li>
                      #queryhub on
                      <a href="https://osquery-slack.herokuapp.com/">osquery Slack</a>
                    </li>
                  </ul>
                </ul>
              </div>
            </div>
          </footer>
    </main>

    </div>
    <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body>

</html>